.tabs {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  /* margin: 0.8rem 0; */
  background-color:#fff;
  border-bottom: 1px solid #eee;
}

.tabs button {
  background: none;
  border: none;
  padding: 0.6rem 0;
  font-size: 17px;
  cursor: pointer;
  color: #555;
  position: relative;
}

.tabs button.active {
  font-weight: bold;
  color: #222;
  border-bottom: 2px solid #333;
}
.tabs button.active .tabcount{
color:#555;
}
.tabs span {
color:#555;

}
.tabs span {
  border-radius: 12px;
  padding: 0.1rem 0.4rem;
  font-size: 0.8rem;
  margin-left: 0.3rem;
}
